<h1 class="condition-index-page-title">All Conditions</h1>

<% @conditions.each do |condition| %>
  <div class="condition-info" id="condition_<%= condition.id %>">
    <h2><a class="condition-date" href="/conditions/<%= condition.id %>"><%= condition.present_date %></a></h2>
    <div>
      <a class="button btn btn-update" href="/conditions/<%= condition.id %>/edit">Update</a>
      <form class="btn-form" action="/conditions/<%= condition.id %>" method="POST">
        <input class="button btn btn-delete" type="submit" value="Delete" />
        <input type="hidden" name="_method" value="DELETE" />
      </form>
    </div>
  </div>
<% end %>
