<h1>Weather conditions for the date of <%= @condition.measurement_date %></h1>

<p class="index-condition-max-temperature-f"><%= @condition.max_temperature_f %></p>
<p class="index-condition-mean-temperature-f"><%= @condition.mean_temperature_f %></p>
<p class="index-condition-min-temperature-f"><%= @condition.min_temperature_f %></p>
<p class="index-condition-humidiy-percent"><%= @condition.humidity_percent %></p>
<p class="index-condition-visibility-miles"><%= @condition.visibility_miles %></p>
<p class="index-condition-mean-wind-speed_mph"><%= @condition.mean_wind_speed_mph %></p>
<p class="index-condition-precipitation-inches"><%= @condition.precipitation_inches %></p>

<p><a class="btn btn-primary button" href="/conditions/<%= @condition.id %>/edit">Update weather conditions</a></p>
