<h1 class="dashboard-title trips-dashboard-title">Trip Dashboard</h1>

<div class="row">
<div class="col-md-3">
<div class="trips-dashboard-total">
  <h4>Total Number of Trips</h4>
  <p><%= @trips.total %></p>
</div>
</div>

<div class="col-md-3">
<div class="trips-dashboard-average">
  <h4>Average Duration of a Ride</h4>
  <p class="trip-dashboard-average"><%= @trips.average_duration_of_ride %></p>
</div>
</div>

<div class="col-md-3">
<div class="trips-dashboard-max">
  <h4>Longest Ride</h4>
  <p class="dashboard-stat"><%= @trips.longest_ride %></p>
</div>
</div>

<div class="col-md-3">
<div class="trips-dashboard-min">
  <h4>Shortest Ride</h4>
  <p class="dashboard-stat"><%= @trips.shortest_ride %></p>
</div>
</div>

<div class="col-md-3">
<div class="trips-dashboard-most-rides-starting">
  <h4>Station with Most Rides Starting There</h4>
  <p><%= @trips.most_rides_starting %></p>
</div>
</div>

<div class="col-md-3">
<div class="trips-dashboard-most-rides-ending">
  <h4>Station with Most Rides Ending There</h4>
  <p><%= @trips.most_rides_ending %></p>
</div>
</div>

<div class="trips-dashboard-rides-per-year">
<h4>Rides Per Month Each Year</h4>
<p><%= @trips.rides_per_year(2013) %><br?></p>
  <ul>
    <li>January: <%= @trips.rides_per_month(1) %></li>
    <li>February: <%= @trips.rides_per_month(2) %></li>
    <li>March:<%= @trips.rides_per_month(3) %></li>
    <li>April: <%= @trips.rides_per_month(4) %></li>
    <li>May: <%= @trips.rides_per_month(5) %></li>
    <li>June: <%= @trips.rides_per_month(6) %></li>
    <li>July: <%= @trips.rides_per_month(7) %></li>
    <li>August: <%= @trips.rides_per_month(8) %></li>
    <li>September: <%= @trips.rides_per_month(9) %></li>
    <li>October: <%= @trips.rides_per_month(10) %></li>
    <li>November: <%= @trips.rides_per_month(11) %></li>
    <li>December: <%= @trips.rides_per_month(12) %></li>
  </ul>
<p><%= @trips.rides_per_year(2014) %><br?></p>
  <ul>
    <li>January: <%= @trips.rides_per_month(1) %></li>
    <li>February: <%= @trips.rides_per_month(2) %></li>
    <li>March:<%= @trips.rides_per_month(3) %></li>
    <li>April: <%= @trips.rides_per_month(4) %></li>
    <li>May: <%= @trips.rides_per_month(5) %></li>
    <li>June: <%= @trips.rides_per_month(6) %></li>
    <li>July: <%= @trips.rides_per_month(7) %></li>
    <li>August: <%= @trips.rides_per_month(8) %></li>
    <li>September: <%= @trips.rides_per_month(9) %></li>
    <li>October: <%= @trips.rides_per_month(10) %></li>
    <li>November: <%= @trips.rides_per_month(11) %></li>
    <li>December: <%= @trips.rides_per_month(12) %></li>
  </ul>
<p><%= @trips.rides_per_year(2015) %><br?></p>
  <ul>
    <li>January: <%= @trips.rides_per_month(1) %></li>
    <li>February: <%= @trips.rides_per_month(2) %></li>
    <li>March:<%= @trips.rides_per_month(3) %></li>
    <li>April: <%= @trips.rides_per_month(4) %></li>
    <li>May: <%= @trips.rides_per_month(5) %></li>
    <li>June: <%= @trips.rides_per_month(6) %></li>
    <li>July: <%= @trips.rides_per_month(7) %></li>
    <li>August: <%= @trips.rides_per_month(8) %></li>
    <li>September: <%= @trips.rides_per_month(9) %></li>
    <li>October: <%= @trips.rides_per_month(10) %></li>
    <li>November: <%= @trips.rides_per_month(11) %></li>
    <li>December: <%= @trips.rides_per_month(12) %></li>
  </ul>
<p><%= @trips.rides_per_year(2016) %><br?></p>
  <ul>
    <li>January: <%= @trips.rides_per_month(1) %></li>
    <li>February: <%= @trips.rides_per_month(2) %></li>
    <li>March:<%= @trips.rides_per_month(3) %></li>
    <li>April: <%= @trips.rides_per_month(4) %></li>
    <li>May: <%= @trips.rides_per_month(5) %></li>
    <li>June: <%= @trips.rides_per_month(6) %></li>
    <li>July: <%= @trips.rides_per_month(7) %></li>
    <li>August: <%= @trips.rides_per_month(8) %></li>
    <li>September: <%= @trips.rides_per_month(9) %></li>
    <li>October: <%= @trips.rides_per_month(10) %></li>
    <li>November: <%= @trips.rides_per_month(11) %></li>
    <li>December: <%= @trips.rides_per_month(12) %></li>
  </ul>
</div>

<div class="trips-dashboard-most-ridden-bike">
<h4>Most Ridden Bike</h4>
<p><%= @trips.most_ridden_bike %></p>
</div>

<div class="trips-dashboard-least-ridden-bike">
<h4>Least Ridden Bike</h4>
<p><%= @trips.least_ridden_bike %></p>
</div>

<div class="trips-dashboard-user-subscription">
<h4>User Subscription Stats</h4>
<p>Type: <%= @trips.number_customers %></p>
<p>Type: <%= @trips.number_subscribers %></p>
<p><%= @trips.user_percentage %></p>
</div>

<div class="trips-dashboard-highest-trip-date">
<h4>Date with Highest Number of Trip</h4>
<p><%= @trips.show_highest_trip_date %></p>
</div>

<div class="trips-dashboard-lowest-trip-date">
<h4>Date with Lowest Number of Trips</h4>
<p><%= @trips.show_lowest_trip_date %></p>
</div>


