<h1 class="dashboard-title stations-dashboard-title">Station Dashboard</h1>

<div class="row">
<div class="col-md-3">
<div class="stations-dashboard-total">
  <h4>Total Number of Stations</h4>
  <p class="dashboard-stat"><%= @stations.total %></p>
</div>
</div>

<div class="col-md-3">
<div class="stations-dashboard-average">
  <h4>Average Available Bikes</h4>
  <p class="station-dashboard-average dashboard-stat"><%= @stations.average_available_bikes %></p>
</div>
</div>

<div class="col-md-3">
<div class="stations-dashboard-max">
  <h4>Most Bikes Available at Station</h4>
  <p class="dashboard-stat"><%= @stations.most_bikes_available_at_station %></p>
</div>
</div>

<div class="col-md-3">
  <div class="stations-dashboard-min">
    <h4>Fewest Bikes Available at Station</h4>
    <p class="dashboard-stat"><%= @stations.fewest_bikes_available_at_station %></p>
  </div>
</div>
</div>

  <div class="stations-dashboard-most-bikes stations-dashboard-area">
    <h3>Stations With Most Bikes</h3>
    <div class="row">
    <% @stations.stations_with_most_bikes(3).each do |station|%>
    <div class="col-md-4 stations-dashboard-station">
      <h4><%= station.name %></h4>
      <p>Docks: <%= station.dock_count %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="stations-dashboard-fewest-bikes stations-dashboard-area">
  <h2>Stations With Fewest Bikes</h2>
  <div class="row">
  <% @stations.stations_with_fewest_bikes(3).each do |station|%>
  <div class="col-md-4 stations-dashboard-station">
  <h3><%= station.name %></h3>
  <p>Docks: <%= station.dock_count %></p>
</div>
  <% end %>
</div>
</div>

<div class="row">
<div class="col-md-6">
  <div class="stations-dashboard-newest">
  <h2>Most Recently Installed</h2>
  <p><%= @stations.most_recently_installed_name %></p>
  <p>Installation Date: <%= @stations.most_recently_installed_date %></p>
</div>
</div>

<div class="col-md-6">
    <div class="stations-dashboard-oldest">
  <h2>Oldest Station</h2>
  <p><%= @stations.oldest_station_name %></p>
  <p>Installation Date: <%= @stations.oldest_station_date %></p>
</div>
</div>
</div>

<% @stations.each do |station| %>
<div class="">
<div class="row">
<div class="col-md-3">
<div>
  <p class="station-name-list"><%= station.name %></p>
</div>
</div>
<div class="col-md-9 station-stats-area">
<p>Number of Rides started at this station</p>
<!-- <p class="dashboard-stat"><%= station.number_of_rides_started_at_station %></p> -->

<p>Number of Rides ended at this station</p>
<!-- <p class="dashboard-stat"><%= station.number_of_rides_ended_at_station %></p> -->

<p>Most frequent destination station</p>
<!-- <p class="dashboard-stat"><%= station.most_frequent_destination_station %></p> -->

<p>Most frequent origination station</p>
<!-- <p class="dashboard-stat"><%= station.most_frequent_origination_station %></p> -->

<p>Date with most trips</p>
<!-- <p class="dashboard-stat"><%= station.date_with_most_trips %></p> -->

<p>Most Frequent zipcode for users at this station</p>
<!-- <p class="dashboard-stat"><%= station.frequent_user_zipcode %></p> -->

<p>Most Popular Bike</p>
<!-- <p>Bike ID:<span class="dashboard-stat"><%= station.most_frequent_destination_station %></span></p> -->
</div>
</div><!-- end row -->
</div><!-- end station-stat-area -->
<% end %>
