<% @stations.each do |station| %>
<div id="station_<%= station.id %>">
  <p><a href="/stations/<%=station.id%>"><%= station.name %></a></p>
  <p><a href="/stations/<%= station.id %>/edit">Update</a></p>
  <form action='/stations/<%= station.id %>' method="POST">
    <input type="submit" value="Delete"/>
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
<% end %>
