<h1 class="station-index-page-title">All Stations</h1>

<% @trips.each do |trip| %>
<div class="station-info" id="station_<%= station.id %>">
  <h2><a class="station-name" href="/stations/<%=station.id%>"><%= station.name %></a></h2>
  <p><a class="button btn btn-primary" href="/stations/<%= station.id %>/edit">Update</a></p>
  <form action='/stations/<%= station.id %>' method="POST">
    <input class="button btn btn-primary" type="submit" value="Delete"/>
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
<% end %>
