<% @cities.each do |city| %>
  <div id="city_<%= city.id %>">
    <p><a href="/cities/<%= city.id %>"><%= city.name %></a></p>
    <p><a href="/cities/<%= city.id %>/edit">Update</a></p>
    <form action='/cities/<%= city.id %>' method="POST">
      <input type="submit" value="Delete"/>
      <input type="hidden" name="_method" value="DELETE">
    </form>
  </div>
<% end %>
